.Cell {
  height: 100px;
  width: 100px;
  background-color: darkgray;
  cursor: pointer;
}

.Cell-lit {
  background-color: rgb(225, 218, 137);
}

@media (max-width: 600px) {
  .Cell {
    height: 80px;
    width: 80px;
  }
}